<div class='tweet'>
  <div class='embed'>
    <%= raw @tweet.html %>
  </div>
  <a href="#" class="play" data-id="<%= @tweet.id %>"><%= image_tag("load.gif")%></a>
  </br>
  <h3> <%= link_to "Next", show_for_user_url(current_user.username), class: "next-link" %> </h3>
  <p class="permalink"> <strong id="permalink-header">Permalink: </strong>
    <%= "  #{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
  </p>
</div>
